.titre {
    font-family: 'Shrikhand', cursive;
  }
  .text {
    font-family: 'Roboto', sans-serif;
    
  }
  
  
  
  @media screen and (max-widht: 650px) 
  {
    body {
      width : 375px;
      height: 50px;
      border: aqua 2px solid;
      background-color: blue;
    }
   
  }