

@mixin tablette {
    @media (min-width: 651px) and(max-width : 1150px) {@content;}
} 
@mixin desktop {
    @media (min-width: 1151px) {@content;}
} 


header{
    width: 100%;
    height: 65px;
    margin: 5px;
    @include tablette {
        height: auto;           
    }
    @include desktop {
        height: auto;
    }
    .header__flex{
        display: flex;
        height: 100%;
        .header__flex--retour{
            height: 100%;
            width: auto;
            flex-grow: 0;
            i {
                display: block;
                height: auto;
                width: auto;
                margin-top: 27px;
                margin-bottom: 12px;
                margin-left: 21px;
                margin-right: 15px;
                font-size: 1.3em;  
            }
            @include tablette {
                margin-top: 23px;
            }
            @include desktop {
                margin-top: 30px;
            }
        }
        .header__flex--titre{
            width: 100%;
            height: 100%;
            flex-grow: 1;
            img {
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 12px;
                margin-top: 20px;
                display: block;
                height: auto;
                width: 60%;
                @include desktop{
                    width: 45%;
                    max-width: 680px;
                } 
            }
           
        }
    }
}
footer {
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(53, 53, 53);
    @include desktop{
        flex-direction: row;
        align-items: center;

    }
    @include tablette{
        
        width: 100%;
        
    }
    .footer__logo {
        height: auto;
        width: 100%;
        display: flex;
        align-items: center;
        @include desktop{
            width: 20%;
            margin-top: -20px;
        }
        @include tablette{
            width: 30%;
            margin-top: -10px;
        }
        h3 {
            color: white;
            font-family: Shrikhand;
            font-weight: lighter;
            margin-left: 25px;
            margin-top: 25px;   
        }
    }
    ul {
        list-style: none;
        margin-left: -15px;
        margin-top: -5px;
        @include desktop{
            display: flex;
            justify-content: center;
           
            
            li {
                margin-right: 70px;
                
            }
        }
        @include tablette{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            
            height: 200px;
            li {
                margin: 15px;
                align-items: center;
            }
            
        }
        .fas {
            margin-right: 10px;

        }
        .fa-utensils {
            font-size: 1.1em;
        }
        .fa-hands-helping {
            font-size: 0.7em;
        }
        p {
            color :white;
            margin-top: 6px;
            font-size: 1.1em;

        }
        a {
            text-decoration: none;
            color: white !important;
            font-size: 1.3em;
            
        }
        li:nth-child(4) {
            margin-top: 3px;
            @include tablette {
                margin-top: 16px;
            }
            
            
        }
    }
}