header{
    width: 100%;
    height: 65px;
    margin: 5px;
    .header__flex{
        display: flex;
        height: 100%;
        .header__flex--retour{
            height: 100%;
            width: auto;
            flex-grow: 0;
            i {
                display: block;
                height: auto;
                width: auto;
                margin-top: 23px;
                margin-bottom: 12px;
                margin-left: 21px;
                margin-right: 15px;
                font-size: 1.3em;  
            }
        }
        .header__flex--titre{
            width: 100%;
            height: 100%;
            flex-grow: 1;
            img {
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 12px;
                margin-top: 20px;
                display: block;
                height: auto;
                width: 60%;
                
            } 
        }
    }
}
footer {
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(53, 53, 53);
    .footer__logo {
        height: auto;
        width: 100%;
        display: flex;
        align-items: center;
        h3 {
            color: white;
            font-family: Shrikhand;
            font-weight: lighter;
            margin-left: 25px;
            margin-top: 25px;   
        }
    }
    ul {
        list-style: none;
        margin-left: -15px;
        margin-top: -5px;
        .fas {
            margin-right: 10px;

        }
        .fa-utensils {
            font-size: 1.1em;
        }
        .fa-hands-helping {
            font-size: 0.7em;
        }
        p {
            color :white;
            margin-top: 6px;
            font-size: 1.1em;

        }
    }
}