$background-majeur : rgb(246, 246, 246);
$background-bouton : linear-gradient(to bottom right,rgb(246, 130, 229), rgb(145, 63, 207) );
@mixin box-shadow-bas {
    box-shadow: 0px 6px 7px rgb(202, 202, 202);
    } 

@keyframes fadein {
    from {
        opacity:0;
        background:rgba(246, 130, 229, 0.315) ;
    }
    
    to {
        opacity:1;

    }
}
   
@mixin tablette {
    @media (min-width: 651px) and(max-width : 1150px) {@content;}
} 
@mixin desktop {
    @media (min-width: 1151px) {@content;}
}
@mixin smartphone {
    @media (max-width: 650px) {@content;}
}
@mixin buton_violet {

    height: 50px;
    width: 220px;
    border-radius: 25px;
    border :none ;
    background : $background-bouton;
    color: white;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    &:hover {
        opacity: 0.8;
        box-shadow: 0px 6px 7px rgb(144, 141, 141);
    }  
} 


.flex-conteneur {
    height: auto;
    width: 100%;
    background-color: $background-majeur  ;
    @include tablette{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
    }
    @include desktop{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    &__image-nom-restaurant {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        &--image {
            height: 220px;
            width: 100%;
            z-index: 1;
            @include tablette{
                height: 280px;
            }
            @include desktop{
                height: 330px;
            }
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                
            }
        }
        &--nom {
            height: 100px;
            width: 100%;
            display: flex;
            background: $background-majeur ;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            margin-top: -30px;
            z-index: 3;
            h2 {
                margin-top: 30px;
                margin-left: 15px;
                font-family: Shrikhand ;
                font-size: 1.6em;
                font-weight: lighter;
                flex-grow: 1;
            }
            &--like { 
                display: flex;
                height: 20px;
                width: 20px;
                margin-top: 25px;
                margin-right: 30px;
                background: rgb(246, 246, 246);
                z-index: 1;
                position: relative;
                &--heart {
                    width: 20px;
                    height: 20px;
                    position: relative;
                    padding: 0;
                    left: 0; top: 0;
                    border: rgba(0, 0, 0, 0);
                    outline: rgba(0, 0, 0, 0);
                    background-color: black;
                    cursor: pointer;
                    &::before {
                        opacity: 0;
                        transform: scale(0);
                        transform-origin: bottom;
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        background: linear-gradient(10deg, rgb(246, 130, 229) 50%,rgb(145, 63, 207) 100%);
                        
                        
                          
                    }
                    &:active::before {
                        opacity: 1;
                        transform: scale(1);
                        transition: .5s;
                        /*z-index: 1; pk çà bloque la forme du coeur !!!!!*/   
                    }   
                }
                .vide:active {
                    opacity: 0;
                    transition: .5s;
                }
                

                i{
                    mix-blend-mode:lighten;
                    opacity: 1;
                    background-color:rgb(246, 246, 246);
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    display:flex;
                    align-items:center;
                    justify-content:center;
                    font-size: 1.4em;
                }
            } 

        }

    }
    &__repas {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        background:$background-majeur ;
        margin-bottom: 15px;
        @include tablette{
            align-items: center;
        }
        @include desktop{
            width: 33%;
            align-items: center;
        }
        
        &--titre {
            h3 {
                margin-left: 15px;
                font-size: 1em;
                font-weight: normal;
                margin-bottom: 5px; 
            }
            .souligne {
                border-top: rgb(153, 226, 208) 3px solid ;
                margin-bottom: 12px;
                margin-left: 15px;
                width: 42px;
            }
        }
        ul {
            list-style: none;
            @include smartphone{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            
            .entrees:nth-child(1){
                animation: fadein 4s ease-in;
                animation-fill-mode: both;
                
            }
            .entrees:nth-child(2){
                animation: fadein 5s ;
                animation-fill-mode: both;
                
            }
            .entrees:nth-child(3){
                animation: fadein 10s ;
                animation-fill-mode: both;
            }
            .entrees:nth-child(4){
                animation: fadein 12s ;
                animation-fill-mode: both;
            }
            .plats:nth-child(1){
                animation: fadein 15s ;
                animation-fill-mode: both;
            }
            .plats:nth-child(2){
                animation: fadein 20s ;
                animation-fill-mode: both;
            }
            .plats:nth-child(3){
                animation: fadein 25s ;
                animation-fill-mode: both;
            }
            .dessert:nth-child(1){
                animation: fadein 30s ;
                animation-fill-mode: both;
            }
            .dessert:nth-child(2){
                animation: fadein 35s ;
                animation-fill-mode: both;
            }
            .dessert:nth-child(3){
                animation: fadein 40s ;
                animation-fill-mode: both;
            }
            li {
                
                display: flex;
                height: 65px;
                width: 345px;
                margin-left: -25px;
                background: white;
                border-radius: 15px;
                margin-top: 12px;
                @include box-shadow-bas;
                :active + .li__animation {
                    transform: translate(-64px);
                    transition: 1500ms;
                    .li__animation--rotate {
                    transform: rotate(360deg);
                    transition: 1500ms
                }

                }
                overflow: hidden;
                cursor: pointer;
               
            }
            
            .li__text {
                display: flex;
                flex-direction: column;
                height: 100%;
                min-width: 300px;
                flex-shrink: 1;
                &:active  p {
                    transition: 1500ms;
                    width: 75%;
                    height: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                &:active h5 {
                    transition: 1500ms;
                    width: 75%;
                    height: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    
                }
                
                h5 {
                    margin-top: 9px;
                    margin-bottom: 2px;
                    margin-left: 12px;
                    font-size: 1.2em;
                    height: 100%;
                    width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                p {
                    margin-left: 12px;
                    margin-bottom: 4px;
                    height: 100%;
                    width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                }
            }
            .li__animation {
                position: relative;
                left: -10px;
                height: 100%;
                width: 180px;
                display: flex;
                align-items: center;
                margin-left: 10px;
                
                p {
                    display: flex;
                    height: auto;
                    width: auto;
                    margin-left: 0px;
                    margin-right: 14px;
                    margin-top: 20px;
                    padding-left: 10px;
                    font-weight: bolder;
                    

                }
                &--translate {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-top-right-radius: 15px;
                    border-bottom-right-radius: 15px;
                    height: 100%;
                    width: 60px;
                    color: white;
                    font-size: 1.4em;
                    background: rgb(153, 226, 208);
                    

                    }
                &--rotate {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;   
                }

            }
        }
        
    }
    .bouton-violet {
        display: flex;
        height: 112px;
        width: 100%;
        justify-content: center;
        margin-top: 39px;
        &-buton {
            @include buton_violet;
            @include box-shadow-bas;
        }
    }
    .bouton-violet-buton {
        display: flex;
        align-items: center;
        justify-content: center;
        p {
            color: white;
        }
    }
}
