

$background-localisation: rgb(234, 234, 234);
$background-gris--claire : rgb(246, 246, 246); 
$background-purple : rgb(245, 237, 255) ;
$color-icon-fonctionnement :rgb(126, 126, 126);
$color-icon-fonctionnement-2 : rgb(173, 114, 153);
$background-nouveau : rgb(153, 226, 208);
$color-nouveau: rgb(12, 138, 106);
$background-bouton : linear-gradient(to bottom right,rgb(246, 130, 229), rgb(145, 63, 207) );
$background-chargement : radial-gradient(#703386, white);



@mixin tablette {
    @media (min-width: 651px) and(max-width : 1150px) {@content;}
} 
@mixin desktop {
    @media (min-width: 1151px) {@content;}
} 
@mixin smartphone {
    @media (max-width: 651px) {@content;}    
    }


@mixin buton_violet {

    height: 50px;
    width: 220px;
    border-radius: 25px;
    border :none ;
    background : $background-bouton;
    color: white;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    &:hover {
        opacity: 0.8;
        box-shadow: 0px 6px 7px rgb(144, 141, 141);
    }  
}
@mixin box-shadow-bas {
    box-shadow: 0px 6px 7px rgb(202, 202, 202);
    }  
@mixin box-shadow-bas-hover {
    box-shadow: 0px 6px 7px rgba(121, 43, 109, 0.514);
} 

@mixin list_rond {
    background:$color-icon-fonctionnement-2;
    border-radius: 50%;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-right: -11px;
    color: white;
    z-index: 1;
}
@mixin titre {
    margin-left: 21px;
    margin-top: 50px;
    margin-bottom: 30px;
    
}


@keyframes rotate {
    0% { 
        transform: rotate(0deg); z-index: 4;
    }
    30% {
        transform: rotate(60deg); z-index: 4;
    }
    40% {
        transform: rotate(70deg); z-index: 4;
    }
    50% {
        transform: rotate(75deg); z-index: 4;
    }
    70% {
        transform: rotate(80deg); z-index: 4;
    }
    100% { 
        transform: rotate(360deg) ;z-index: 4; 
    }
  }
  
@keyframes hide {
    0% {
        z-index: 3;
        opacity: 1;
    }
    85%{
        opacity: 0.8;
        z-index: 3;
    }
    100% {
        z-index: -1;
        opacity: 0;
    }
}

@keyframes heart {
    0% {
      transform : scale(0);
      stroke : transparent ;
      
    }
    100% { 
      transform :scale(1);
      stroke : transparent ;
       
    }
  }
    

.header__flex--retour {
    display: none;
}


.flex-conteneur {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    &__backgroundchargement {
        background: $background-chargement ;
        position: fixed;
        left: 0; top: 0; bottom: 0; right: 0;
        animation: hide 3s ;
        animation-fill-mode: forwards;
        &__chargement {
            position: absolute;
            left: 50%; top: 270px;
            margin-left: -90px;
            background-color: rgba(153, 226, 208, 0);
            border-right: 30px solid rgba(255, 255, 255, 0);
            border-top: 5px solid rgb(147, 86, 220);
            border-bottom: 5px solid rgb(255, 120, 219);
            border-left: 30px solid rgba(255, 255, 255, 0);
            border-radius: 50%;
            width: 120px;
            height: 120px;
            animation: rotate 1.5s linear ;
            display: flex;
            align-items: center;
            justify-content: center;
            p {
                font-family: "Shrikhand";
                font-size: 2em;

            }
        
        }
    }
    /* Section 1 : localisation ########################################################### */
    &__localisation {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: $background-gris--claire;
        &__zone{
            display: flex;
            width: 100%;
            height: 50px;
            background-color: $background-localisation;
            align-items: center;
            justify-content: center;
            p {
                margin-left: 15px;
                font-weight:bold;
            }   
        }
        &__text {
            display: flex;
            flex-direction: column;
            height: 175px;
            width: auto;
            align-items: center;
            justify-content: center;
            margin-left:  40px;
            margin-right: 40px;
            h2 {
                margin-top: 0;
                margin-right: 0;
                text-align: center;
                font-weight: 900;
                font-size: 1.5em;
            }
            p {
                text-align: center;
                font-size: 1em;
            }

        }
        &__bouton-violet {
            display: flex;
            height: 112px;
            width: auto;
            justify-content: center;
            margin-top: 39px;
            &-buton {
                @include buton_violet;
                @include box-shadow-bas;
            }
        } 
        .flex-conteneur__localisation__bouton-violet-buton {
            display: flex;
            align-items: center;
            justify-content: center;
            p {
                color: white;
            }
            

        }
    }    
    /* Section 2 : fonctionnement ########################################################### */
    &__fonctionnement {
        display: flex;
        flex-direction: column;
        height: 440px;
        width: 100%;
        @include desktop{
            height: auto;
        }
        
        &--titre {
            @include tablette{
                display: flex;
                justify-content: center;
            }
            @include desktop{
                display: flex;
                justify-content: center;
            }
        }
        ol, li {
            @include tablette {
                justify-content: center
            }
        }
        h2 {
            @include titre;
        }
        ol {
            counter-reset: nombre;
            justify-content: center;
            display: flex;
            flex-direction: column;
            @include smartphone {
                margin-left: -50px;
            }

            @include desktop{
                display: flex;
                justify-content: center;
                flex-direction: row;
                
            }
        }
        li {
            list-style-type: none;
            counter-increment: nombre;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 24px;
            @include desktop{
                margin: 10px;
                margin-right:30px ;
            }
        }
        li:before {
            content: counter(nombre);
            @include list_rond;
            
        }
        &--icone-text {
            width: 325px;
            height: 75px;
            border-radius: 25px;
            background:$background-gris--claire;
            display: flex;
            align-items: center;
            @include box-shadow-bas;
                i {
                    margin-left: 40px;
                    margin-right: 25px;
                    font-size: 1.3em;
                    color: $color-icon-fonctionnement;
                }   
                p {
                    font-size: 1em;
                    font-weight: bold;
                }
        }
        .background-purple {
            background:$background-purple;
                i {
                    color: $color-icon-fonctionnement-2;
                }
        }
    }
    /* Section 3 : restaurants ########################################################### */
    &__restaurants {
        background: $background-gris--claire ;
        display: flex;
        flex-direction: column;
        @include desktop{
            align-items: center
        }
        &--titre {
            @include titre ;
            @include tablette{
                display: flex;
                justify-content: center;
            }
            @include desktop{
                display: flex;
                justify-content: center;
                
            }
        }
        h2{
            margin-top: 0;
            margin-bottom: 0;
        }
        &__porte-carte {
            display: flex;
            align-items: center;
            flex-direction: column;
              
            
            @include desktop{
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                width: 1150px;
                a {
                    height: 320px;
                    width: 500px;
                    flex : 1 0 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: 20px;
                    
                }          
            }
        }

        &--margin {
            height: 60px;
            width: 100%;
            @include desktop{
                align-self: center;
            }
        }
        .flex-conteneur__restaurants__carte:hover {
            transition: 0.5s;
            @include box-shadow-bas-hover;
            opacity : 1;
            transform: scale(1.01);
        }
        &__carte {
            opacity: 0.7;
            width: 335px;
            height: 250px;
            margin-bottom: 12px;
            border-radius: 20px; 
            @include tablette{
                width: 400px;
                height: 320px;
            }
            @include desktop{
                width: 500px;
                height: 320px;
                
            }
            &--image {
                width: 335px;
                height: 175px;
                @include tablette{
                    width: 400px;
                    height: 245px;
                }
                @include desktop{
                    width: 500px;
                    height: 245px;
                    
                    
                }
                
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                }
                &--nouveau {
                    width: 80px;
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: $background-nouveau;
                    color: $color-nouveau;
                    position: relative;
                    top:-160px; left: 235px;
                    z-index: 1;
                    border-radius: 2px;
                    @include tablette {
                        position: relative;
                        top: -210px; left: 300px;
                    }
                    @include desktop {
                        position: relative;
                        top: -210px; left: 390px;
                    }
                }
            }
            &--description {
                height: 75px;
                width: 335px;
                @include tablette{
                    width: 400px;
                }
                @include desktop{
                    width: 500px;
                }
                background: white;
                display: flex;
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
                @include box-shadow-bas;
                &--nom-restaurants {
                    height: 100%;
                    width: auto;
                    flex-grow: 1;
                    h4 {
                        margin-left: 15px;
                        margin-top: 15px;
                        margin-bottom: 5px;
                        font-size: 1.1em;
                    }
                    p {
                        margin-left: 15px;
                    }
                }
                
            }
            .container {
                opacity :0.5;
                display:flex;
                width: 50px;
                justify-content:center;
                align-items: center;
                color: BLACK;
                .icon {
                  width : 20px
                }
                
            }
              
            path {
                fill :transparent;
                stroke-width :20;
                stroke : black;
            }
              
              
            .container:hover svg * {
                  animation : heart 0.5s ;
                  transform-origin : bottom;
                  animation-fill-mode : forwards;
                  fill: rgb(145, 63, 207);
                  
                
            }
            
        }
        

        


    }
    
         
    
    


}