@keyframes heart {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
.header__flex--retour {
  display: none;
}

.flex-conteneur {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  /* Section 1 : localisation ########################################################### */
  /* Section 2 : fonctionnement ########################################################### */
  /* Section 3 : restaurants ########################################################### */
}
.flex-conteneur__localisation {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
}
.flex-conteneur__localisation__zone {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #eaeaea;
  align-items: center;
  justify-content: center;
}
.flex-conteneur__localisation__zone p {
  margin-left: 15px;
  font-weight: bold;
}
.flex-conteneur__localisation__text {
  display: flex;
  flex-direction: column;
  height: 175px;
  width: auto;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
  margin-right: 40px;
}
.flex-conteneur__localisation__text h2 {
  margin-top: 0;
  margin-right: 0;
  text-align: center;
  font-weight: 1000;
  font-size: 1.5em;
}
.flex-conteneur__localisation__text p {
  text-align: center;
  font-size: 1em;
}
.flex-conteneur__localisation__bouton-violet {
  display: flex;
  height: 112px;
  width: auto;
  justify-content: center;
  margin-top: 39px;
}
.flex-conteneur__localisation__bouton-violet-buton {
  height: 50px;
  width: 220px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(to bottom right, #f682e5, #913fcf);
  color: white;
  font-size: 1em;
  font-weight: 500;
  box-shadow: 0px 6px 7px #cacaca;
}
.flex-conteneur__fonctionnement {
  display: flex;
  flex-direction: column;
  height: 440px;
  width: 100%;
}
.flex-conteneur__fonctionnement h2 {
  margin-left: 21px;
  margin-top: 50px;
  margin-bottom: 30px;
}
.flex-conteneur__fonctionnement ol {
  counter-reset: nombre;
  margin-left: -20px;
}
.flex-conteneur__fonctionnement li {
  list-style-type: none;
  counter-increment: nombre;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
.flex-conteneur__fonctionnement li:before {
  content: counter(nombre);
  background: #ad7299;
  border-radius: 50%;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-right: -11px;
  color: white;
  z-index: 1;
}
.flex-conteneur__fonctionnement--icone-text {
  width: 325px;
  height: 75px;
  border-radius: 25px;
  background: #f6f6f6;
  display: flex;
  align-items: center;
  box-shadow: 0px 6px 7px #cacaca;
}
.flex-conteneur__fonctionnement--icone-text i {
  margin-left: 40px;
  margin-right: 25px;
  font-size: 1.3em;
  color: #7e7e7e;
}
.flex-conteneur__fonctionnement--icone-text p {
  font-size: 1em;
  font-weight: bold;
}
.flex-conteneur__fonctionnement .background-purple {
  background: #f5edff;
}
.flex-conteneur__fonctionnement .background-purple i {
  color: #ad7299;
}
.flex-conteneur__restaurants {
  background: #f6f6f6;
  display: flex;
  flex-direction: column;
}
.flex-conteneur__restaurants--titre {
  margin-left: 21px;
  margin-top: 50px;
  margin-bottom: 30px;
}
.flex-conteneur__restaurants h2 {
  margin-top: 0;
  margin-bottom: 0;
}
.flex-conteneur__restaurants__porte-carte {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.flex-conteneur__restaurants--margin {
  height: 50px;
  width: 100%;
}
.flex-conteneur__restaurants__carte {
  width: 335px;
  height: 250px;
  margin-bottom: 12px;
}
.flex-conteneur__restaurants__carte--image {
  width: 335px;
  height: 175px;
}
.flex-conteneur__restaurants__carte--image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.flex-conteneur__restaurants__carte--image--nouveau {
  width: 80px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #99e2d0;
  color: #0c8a6a;
  position: relative;
  top: -160px;
  left: 235px;
  z-index: 1;
  border-radius: 2px;
}
.flex-conteneur__restaurants__carte--description {
  height: 75px;
  width: 335px;
  background: white;
  display: flex;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 6px 7px #cacaca;
}
.flex-conteneur__restaurants__carte--description--nom-restaurants {
  height: 100%;
  width: auto;
  flex-grow: 1;
}
.flex-conteneur__restaurants__carte--description--nom-restaurants h4 {
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 1.1em;
}
.flex-conteneur__restaurants__carte--description--nom-restaurants p {
  margin-left: 15px;
}
.flex-conteneur__restaurants__carte--description--like {
  display: flex;
  align-items: center;
  width: auto;
  height: 100%;
  margin-right: 20px;
  border: none;
}
.flex-conteneur__restaurants__carte--description--like .heart {
  height: 40px;
  border: rgba(0, 0, 0, 0);
  outline: rgba(0, 0, 0, 0);
  background-color: white;
  cursor: pointer;
}
.flex-conteneur__restaurants__carte--description--like .heart .fas {
  position: relative;
  left: 18px;
  margin-top: 15px;
  transform: scale(0);
  transform-origin: bottom;
  transition: 600ms;
}
.flex-conteneur__restaurants__carte--description--like .heart:active .fas {
  transform: scale(1);
  background: -webkit-gradient(linear, left top, left bottom, from(#a869df), to(#f8d4f4));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
}
.flex-conteneur__restaurants__carte--description--like i {
  font-size: 1.1em;
}

/*# sourceMappingURL=main.css.map */
